.font-small {
  font-size: var(--font-size-small);
}

.font-smallPlus {
  font-size: var(--font-size-smallPlus);
}

.h-2 {
  font-size: var(--font-size-largePlus);
  font-weight: 500;
}

.font-mini-300 {
  font-size: var(--font-size-mini);
  font-weight: 300;
}

.thin-scroll-bar {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-color) transparent;
}
