.svg-icons:hover {
  filter: brightness(1.2);
}

.font-small {
  font-size: var(--font-size-small);
}

.font-smallPlus {
  font-size: var(--font-size-smallPlus);
}

.h-2 {
  font-size: var(--font-size-largePlus);
  font-weight: 500;
}
